on:
  push:
    paths:
      - "Dockerfile"
name: App_Container_Workflow

jobs:
    build-and-push:
        runs-on: ubuntu-latest
        steps:
        # checkout the repo
        - uses: actions/checkout@v2
        - name: 'docker login'
          env:
            DOCKER_USER: ${{secrets.DOCKER_USER}}
            DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
          run: |
            docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
        - name: Build the Docker image
          run: docker build . --file Dockerfile --tag latest
        
        - name: Docker Push
          run: docker push ${{secrets.DOCKER_USER}}/sra-pg:latest
